.title {font-style: bold;
		 text-align: center;}

.k{margin-left: 50px;}

#sign{margin-left: 1200px;
	   margin-top: -25px;
	   font-size: 20px;}

#hanoi{font-size: 20px;
	   margin-left: 20px;}

.html{background-color: yellow;
	  font-size: 1.2em;}